/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Окна */
.window {
    display: none;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-container {
    margin-bottom: 20px;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

textarea {
    height: 150px;
    resize: vertical;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

/* Стиль для админ панели */
.admin-container {
    padding: 20px;
}

#product-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Товар */
.product-card {
    width: 200px;
    padding: 15px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}
